  .customLabel {
		color:blue;
    }
	.customInput {
		borderColor: yellow;
		color: blue;
	}
    .customErrorTable {
		width: 500px;
		padding: 15px;
    }
    .customErrorTableTdKey {
		width: 150px;
		color: blue;
		vertical-align:top;
    }
    .customErrorTableTdDesc {
		color: blue;
		vertical-align: bottom;
    }

	.customTooltip {
	  position: relative;
	  display: inline-block;
	  border-bottom: 1px dotted black;
	}
	.customTooltip .customTooltiptext {
	  visibility: hidden;
	  width: 250px;
	  background-color: #655;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px 0;
	  position: absolute;
	  z-index: 1;
	  bottom: 125%;
	  left: 50%;
	  margin-left: -20px;
	  opacity: 0;
	  transition: opacity 0.3s;
	}
	.customTooltip .customTooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: #555 transparent transparent transparent;
	}
	.customTooltip:hover .customTooltiptext {
	  visibility: visible;
	  opacity: 1;
	}
